@model ShopApp.UI.Models.Account.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<hr />

<div class="row">
    <div class="col-md-8">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="text-danger">@ViewBag.ErrorMessage</div>
        }
        <form asp-action="Register" asp-controller="Account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Full Name</label>
                <div class="col-md-10">
                    <input type="text" asp-for="FullName" value="@Model.FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Username</label>
                <div class="col-md-10">
                    <input type="text" asp-for="UserName" value="@Model.UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Email</label>
                <div class="col-md-10">
                    <input type="text" asp-for="Email" value="@Model.Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Password" class="col-md-2 col-form-label">Password</label>
                <div class="col-md-10">
                    <input type="password" asp-for="Password" value="@Model.Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="RePassword" class="col-md-2 col-form-label">Re Password</label>
                <div class="col-md-10">
                    <input type="password" asp-for="RePassword" value="@Model.RePassword" class="form-control" />
                    <span asp-validation-for="RePassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
